page{
	height: 100%;
}
swiper-item{ 
		image{object-fit:contain !important;}
}
.container {
	width: 100%;
	height: 100%;
	position:relative;
	padding: 35rpx;
	overflow-y: auto;
	.fixed{
		position: fixed;
	}
	.ma{
		margin-top: 100rpx;
	}
	.copyright{
		clear: both;
		width: 100%;
		left: 0;
		bottom: 55rpx;
		view{
			text-align: center; font-size: 16rpx;
			margin-bottom: 7rpx;
			color: #7b7b7b;
		}
		
		}
	.contant{ width: 100%;}
	#myVideo{ width: 600rpx; height: 465rpx; margin-top: 70rpx; position: relative; left: 50%; transform: translateX(-50%);}
	.dTitle{font-size: 30rpx; color: #636363; margin-top: 23rpx;}
	.postImg{ width: 520rpx;border-radius: 50rpx;overflow: hidden; margin-top: 60rpx; margin-left: 50%; transform: translateX(-50%);    box-shadow: 0px 0px 10px #cecece;}
	.bg{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
	}
	.btvox{
		width: 100%;
		margin-top: 40rpx;
		position: relative;
		z-index: 999;
		image{ width: 50rpx;}
		.middle{ width: 85rpx; margin: 0 60rpx; position: absolute;left: 0; top: 0;}
	}
	.videotitle{
		margin-top: 107rpx;
		image{width: 60rpx;}
		text{
			font-size: 36rpx; margin-left: 15rpx;
		}
	}
	.dn{ z-index: 999;}
	.title{
		width: 100%;
		height: 52rpx;
		position: relative;
		.view{
			width: 10rpx;
			height: 100%;
			background: #000;
			border-radius: 4rpx;
		}
		text{
			font-size: 36rpx;
			margin-left: 15rpx;
		}
	}
	.line{ width: calc(100% + 105rpx); height: 4rpx; background: #dcdcdc; margin: 20rpx 0 0 -35rpx;}
}
.dotBox{
		margin-top: 14rpx;
		padding: 4rpx 0;
		background: #e0e0e0;
		border-radius: 10rpx;
		display: inline-flex;
		margin-left: 50%;
		transform: translateX(-50%);
		.dot{ 
			
			margin: 0 26rpx;
			width: 12rpx;
			height: 12rpx;
			border-radius: 50%;
			background: #fff;
			

		}
		.on{
	
background: #017cee;

}

	}
